<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>清楚缓存</string>
	<string>给个评价</string>
	<string>商务合作</string>
	<string>版本更新</string>
	<string>欢迎页</string>
	<string>关于</string>
</array>
</plist>
